@font-face {
    src: url("./fonts/BlackHanSans-Regular.ttf");
    font-family: "Black Gothic";
}

@font-face {
    src: url("./fonts/S-Core_Dream_OTF/SCDream1.otf");
    font-family: "SCDream1";
}

@font-face {
    src: url("./fonts/S-Core_Dream_OTF/SCDream2.otf");
    font-family: "SCDream2";
}

@font-face {
    src: url("./fonts/S-Core_Dream_OTF/SCDream3.otf");
    font-family: "SCDream3";
}

@font-face {
    src: url("./fonts/S-Core_Dream_OTF/SCDream4.otf");
    font-family: "SCDream4";
}

@font-face {
    src: url("./fonts/S-Core_Dream_OTF/SCDream5.otf");
    font-family: "SCDream5";
}

@font-face {
    src: url("./fonts/S-Core_Dream_OTF/SCDream6.otf");
    font-family: "SCDream6";
}

@font-face {
    src: url("./fonts/S-Core_Dream_OTF/SCDream7.otf");
    font-family: "SCDream7";
}

@font-face {
    src: url("./fonts/S-Core_Dream_OTF/SCDream8.otf");
    font-family: "SCDream8";
}

@font-face {
    src: url("./fonts/S-Core_Dream_OTF/SCDream9.otf");
    font-family: "SCDream9";
}