/* main.html */

/* header */
header {
    font-family: "Black Gothic";
    margin: auto 0;
    padding: 1.2em 0 0.8em 0;
    text-align: center;
    width: 100%;
    height: 10vh;
}

/* nav */
nav {
    font-size: 1.875em;
    color: #4169E1;
    width: 10%;
    display: inline-block;
}

nav:active {
    color: white;
}

/* body */
body {
    font-family: "SCDream2";
    font-size: 1em;
    text-align: left;
    margin: auto 0;
    background-color: #DBF0FE;
}

/* h1 ~ h6 */
h1 {
    font-size: 1.8em;
    display: inline;
    width: 85%;
    display: inline-block;
}

h6 {
    font-size: 0.7em;
    margin: 0.9em 0 0 0;
    height: 5em;
}

/* strong */
strong {
    font-family: "SCDream3";
}

/* p */
p {
    margin: 1.8em 0;
}

/* div.sidenav */
div.sidenav {
    width: 0;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #9DBCD4;
    color: white;
    overflow-x: hidden;
    transition: 0.5s;
}

div.sidenav a {
    position: absolute;
    top: 0;
    left: 4.05em;
    text-decoration: none;
    font-size: 3em;
    color: white;
    display: block;
}

div.sidenav a:hover {
    color: black;
}

/* form */
form {
    margin: 3.5em 0;
}

form p {
    margin: 1em 3em 2.5em 0.8em;
    font-size: 1em;
}

/* label */
label {
    position: relative;
}

/* input */
input {
    font-family: "SCDream6";
    height: 1.5em;
    border: 1px solid white;
    border-radius: 3px;
    box-sizing: border-box;
    background-color: white;
    transition: 0.5s;
    outline: none;
}

input:focus {
    border: 3px solid #242526;
}

input.personnel {
    width: 100%;
}

input.from, .to {
    width: 60%;
}

input[type=checkbox] {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
}

.checkbox {
    position: absolute;
    top: 0.25em;
    left: 0;
    height: 0.8em;
    width: 0.8em;
    background-color: white;
    border: 0.06em solid white;
    border-radius: 0.18em;
}

input[type=checkbox]:checked ~ .checkbox {
    background-color: black;
    border: 0.06em solid black;
    border-radius: 0.18em;
}

.checkbox:after {
    content: "";
    position: absolute;
    display: none;
}

input[type=checkbox]:checked ~ .checkbox:after {
    display: block;
}

.checkbox:after {
    left: 0.26em;
    top: 0.03em;
    width: 0.15em;
    height: 0.42em;
    border: solid white;
    border-width: 0 0.2em 0.2em 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

span.title {
    margin: auto 0;
    padding-left: 1.4em;
}

button {
    font-family: "SCDream6";
}

button.displaybutton {
    background-color: transparent;
    background-image: none;
    border-color: transparent;
    border: none;
    font-size: 1.5em;
}

button#submitButton, button[type=reset] {
    border: 1px solid white;
    border-radius: 3px;
    background-color: white;
    width: 40%;
    margin-left: 4%;
}

button#submitButton:active, button[type=reset]:active {
    border-color: black;
    background-color: black;
    color: white;
}

label#checkbox1, label#checkbox2, label#checkbox3, label#checkbox4, label#checkbox5, label#checkbox6 {
    font-size: 0.7em;
    color: black;
    display: none;
}

span#zerothTitle {
    font-family: "SCDream3";
    color: black;
}

/* footer */
footer {
    text-align: center;
    background-color: #DBF0FE;
}

div#data_display_div {
    width: 100%;
    height: 13vh;
    margin: 1.5vh 0 0 0;
    text-align: center;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

div#data_display_div::-webkit-scrollbar {
    display: none;
}

div.data_div {
    width: 100%;
    height: 10vh;
    background-color: #96DFD8;
    text-align: left;
    font-size: 1em;
    line-height: 1.5em;
    margin-right: 4vw;
    padding: 2vh 0 0 2vw;
    display: inline-block;
}

div.data_div::-webkit-scrollbar {
    display: none;
}

/*label#zerothLabel {
    display: none;
}*/

/* back_to_map */
a#back_to_map {
    position: fixed;
    top: 20vh;
    left: 3vw;
    text-decoration: none;
    font-size: 4em;
    color: #96DFD8;
    display: none;
}

a#back_to_map:hover {
    color: white;
}

/* map */

div#map {
    width: 100%;
    height: 70vh;
    text-align: center;
    background-color: white;
    z-index: 0;
}

/* result */

div#result {
    font-family: "SCDream3";
    position: fixed;
    top: 68.5vh;
    left: 4vw;
    width: 40vw;
    height: 12vh;
    background-color: #96DFD8;
    padding: 2vh 0 0 3vw;
    line-height: 1em;
    display: none;
}

div#result strong {
    font-family: "SCDream4";
    font-size: 1.5em;
    color: white;
}

/* loading */

div#loading {
    margin: 0 auto;
    text-align: center;
    width: 0%;
    height: 100%;
    background-color: #DBF0FE;
    z-index: 2;
    position: absolute;
    box-sizing: border-box;
}

article#l1 {
    font-family: "DungGeumMo";
    font-size: 6vw;
    font-weight: 1000;
    margin-top: 38vh;
    text-align: left;
    color: black;
}

article#l2 {
    font-family: "DungGeumMo";
    font-size: 2vw;
    margin-top: 5vh;
    margin-left: 10vw;
    text-align: left;
    color: black;
}
